.search {
    display: none
}

.searchMobile {
    display: block
}


@media screen and (min-width: 768px) {
    .search {
        display: block
    }
    .searchMobile {
        display: none
    }
}